.winner {
  display: none;
  text-align: center;
  font-size: 75px;
}

.img {
  display: none;
  text-align: center;
}

.col-md-6 {
  text-align: center;
}

.jumbotron, .jumbotron h1 {
  text-align: center;
  font-size: 75px;
}

.reset {
  display: none;
  text-align: center;
}
